:root {
  --brand-5: #131313;
  --brand-10: #054334;
  --brand-20: #0D6C55;
  --brand-30: #179475;
  --brand-40: #20BD95;
  --brand-50: #A49486;
  --brand-60: #3FECC4;
  --brand-70: #65F1D1;
  --brand-80: #8FF6DF;
  --brand-90: #BAFCED;
  --brand-95: #F6F5F4;
}