:root {
  --nb-0: 0px;
  --nb-2: 2px;
  --nb-4: 4px;
  --nb-8: 8px;
  --nb-12: 12px;
  --nb-16: 16px;
  --nb-20: 20px;
  --nb-24: 24px;
  --nb-28: 28px;
  --nb-32: 32px;
  --nb-36: 36px;
  --nb-40: 40px;
  --nb-44: 44px;
  --nb-48: 48px;
  --nb-52: 52px;
  --nb-56: 56px;
  --nb-64: 64px;
  --nb-72: 72px;
  --nb-80: 80px;
}
