:root {
  --grey-5: #1F1F1FFF;
  --grey-10: #292929FF;
  --grey-20: #333333FF;
  --grey-30: #525252FF;
  --grey-40: #696969FF;
  --grey-50: #808080FF;
  --grey-60: #979797FF;
  --grey-70: #AEAEAEFF;
  --grey-80: #CCCCCCFF;
  --grey-90: #F0F0F0FF;
  --grey-95: #F9F9F9FF;
  --blue-5: #030D16FF;
  --blue-10: #09243EFF;
  --blue-20: #0F3B66FF;
  --blue-30: #15528EFF;
  --blue-40: #1B69B6FF;
  --blue-50: #1F7FE0FF;
  --blue-60: #4796E6FF;
  --blue-70: #6FADECFF;
  --blue-80: #97C4F2FF;
  --blue-90: #BFDBF8FF;
  --blue-95: #E9F2FCFF;
  --green-5: #071405FF;
  --green-10: #1A3B16FF;
  --green-20: #2D6227FF;
  --green-30: #408938FF;
  --green-40: #53B049FF;
  --green-50: #68D65CFF;
  --green-60: #82DD79FF;
  --green-70: #9CE496FF;
  --green-80: #B6EBB3FF;
  --green-90: #D0F2D0FF;
  --green-95: #ECFAEBFF;
  --red-5: #180205FF;
  --red-10: #410610FF;
  --red-20: #6B0B1AFF;
  --red-30: #951125FF;
  --red-40: #BE1630FF;
  --red-50: #EB1236FF;
  --red-60: #EC415CFF;
  --red-70: #F16A7FFF;
  --red-80: #F594A2FF;
  --red-90: #FABFC6FF;
  --red-95: #FDE6EAFF;
  --orange-5: #190E00FF;
  --orange-10: #462A06FF;
  --orange-20: #73460CFF;
  --orange-30: #A06212FF;
  --orange-40: #CD7E18FF;
  --orange-50: #FC9C1DFF;
  --orange-60: #FDAE45FF;
  --orange-70: #FEC06DFF;
  --orange-80: #FFD295FF;
  --orange-90: #F8E4BBFF;
  --orange-95: #FFF4E6FF;
  --bw-black: #141414FF;
  --bw-white: #FFFFFFFF;

  --bg-brand-0: #131313;
  --bg-brand-1: #312F2D;
  --bg-brand-2: #A49486;
  --bg-brand-3: #684B31;
  --bg-brand-4: #E0DED8;
  --bg-brand-5: #F6F5F4;
}